* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #F2F5F7;
}
/* Search Section */
.search__section {
  background-color: white;
  padding: 15px;
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
}
.search__input {
  border: none;
  width: 100%;
  margin: auto;
}
.search__input:focus {
  outline: none;
}
.search__section img {
  width: 30px;
}

/* Chat Section */
.chat__container {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  display: flex;
  border-radius: 10px;
}
.img__container {
  width: 80%;
  padding: 5px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.chat__container-desc{
  width: 70%;
  margin-left: 5%;
}
.c_img {
  width: 80px;
  border-radius: 50%;
  margin-left: 20px;
}
.time__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10%;
}